.Bag {
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.Badge {
  background-color: #1d2b75;
  color: #ddd;
  padding: 3px 10px;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  right: -71px;
}
.BagImg {
  max-height: 100px;
  position: absolute;
}
